@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #111;
  --text-color: #eee;
  --white-color: #fff;
  --name-color: #fff;
  --primary-color: #ffb400;
  --item-color: #fff;
  --item-bg: #1b1a1a;
  --text-yellow: #ffb400;
  --desc-color: #eee;
  --skill-color: #888;
  --skill-item:  #333;
  --skil-header: #151515;
  --border-color: #333;
  --done-icon: #656c6d;
  --social-box: #000;
  --another-line: #333;
}
.dark {
  --bg-color: #efe9ef;
  --text-color: #777;
  --white-color: #666;
  --name-color: #555;
  --primary-color: #ffb400;
  --item-color: #656c6d;
  --item-bg: #fff;
  --desc-color: #111;
  --skill-color: #656c6d;
  --skill-item: #fff;
  --skil-header: #f2f2f2;
  --border-color: #ddd;
  --done-icon: rgb(182, 178, 178);
  --social-box: #f2f2f2;
  --another-line: #0000001a;
}
.red {
  --text-yellow: red;
}
.green {
  --text-yellow: green;
}
.blue {
  --text-yellow: blue;
}
.purple {
  --text-yellow: purple;
}
.own {
  --text-yellow: #ffb400;
}
.lawngreen {
  --text-yellow: lawngreen;
}
.brown {
  --text-yellow: brown;
}
.turquoise {
  --text-yellow: turquoise;
}
.orangered {
  --text-yellow: orangered;
}
.seagreen {
  --text-yellow: seagreen;
}
body {
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  /* overflow: hidden; */
}

.container-fluid {
  width: 100%;
  padding: 24px  12px;
}
.style-none {
  list-style-type: none;
}
.hero {
  position: relative;
  transition: all 0.4s ease;
}
.hero__inner {
  display: flex;
}

.hero__nav-bar {
  width: 67%;
}

.hero__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.hero__item {
  width: 49%;
  height: 48%;
  transition: all 0.4s ease;
  background-color:var(--item-bg) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__item:nth-child(1) {
  background-color: transparent;
  padding: 55px 0;
  margin: 0 0 18px 0;
}

.hero__item:nth-child(2) {
  margin: 0 0 18px 0;
}
.hero__home-box {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.hero__home {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.hero__hello {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  line-height: 110%;
}
.hero__name {
  font-size: 35px;
  font-weight: 900;
  line-height: 110%;
  display: block;
  margin: 0 auto 20px auto;
  color: var(--name-color);
  text-transform: uppercase;
  text-align: center;
}

.heroanimate {
  font-size: 30px;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-yellow);
  transition: all 0.4s ease;
}

.hero__desc {
  font-size: 33px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 2px;
  line-height: transparent;
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.hero__text-me {
  font-size: 33px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 2px;
  line-height: transparent;
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  transition: all 0.4s ease;
  transform: translateY(-40px);
}
.hero__text-yellow {
  font-size: 33px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 2px;
  color: var(--text-yellow);
  text-transform: uppercase;
  transition: all 0.4s ease;
  transform: translateY(-36.5px);
  display: block;
}
.hero__desc-yellow{
  font-size: 33px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 2px;
  color: var(--text-yellow);
  text-transform: uppercase;
  transition: all 0.4s ease;
  display: block;
}

.hero__desc--white {
  align-items: center;
  background-color: transparent;
  height: 33px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.hero__item-box {
  text-decoration: none;
  transition: all 0.4s ease;
}


.hero__item:hover .hero__desc{
  transform: translateY(-100px);
  transition: all 0.4s ease;
}
.hero__item:hover .hero__desc-yellow{
  transform: translateY(-36px);
  transition: all 0.4s ease;
}

.hero__item:hover .hero__text-yellow{
  transform: translateY(40px);
  transition: all 0.4s ease;
}
.hero__item:hover .hero__text-me{
  transform: translateY(0);
  transition: all 0.4s ease;
}


.hero__img-box {
  background-image: url(../images/Laziza.jpg);
  margin-right: 24px;
  height: calc(100vh - 48px);
  background-size: cover;
  background-position: center center;
  width: 33%;
  object-fit: contain;
  transition: all 0.4s ease;
}

.hero__item:focus .hero__img-box {
  position: fixed;
  transition: all 0.4s ease;
}





/* settings modal*/
.hero__dark-box {
  position: fixed;
  top: 370px;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 9px;
  background-color: var(--primary-color); 
  border-radius: 0 3px 3px 0;
}

.bxs-cog {
  border: none;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: #111;
  cursor: pointer;
  animation: cog-anim infinite 1.5s linear ;
}
@keyframes cog-anim {
  0% {
    transform: translateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}



/* dark__inner modal */

.dark__inner {
  position: fixed;
  top: 220px;
  left: -100%;
  width: 240px;
  height: 340px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease;

}

.dark__inner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark__text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.dark__text::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 3px;
  background-color: rgb(156, 151, 151);
}
.dark__text:nth-child(2) .dark__text::after {
  width: 50px;
}
.dark__remove {
  background-color: transparent;
  color: #ffb400;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
}
.dark__remove-inner {
  position: relative;
}
.dark__remove-inner::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 2px;
  background-color: #ffb400;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.dark__remove-inner::after {
  content: '';
  display: inline-block;
  height: 20px;
  width: 2px;
  background-color: #ffb400;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.dark__remove:hover .dark__remove-inner::after{
  transform: rotate(90deg);
}
.dark__remove:hover .dark__remove-inner::before{
  transform: rotate(270deg);
}
.dark__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.dark__item {
  margin: 10px 5px;
}
.dark__red {
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.dark__item:nth-child(2) .dark__red {
  background-color: green;
}
.dark__item:nth-child(3) .dark__red {
  background-color: blue;
}
.dark__item:nth-child(4) .dark__red {
  background-color: purple;
}
.dark__item:nth-child(5) .dark__red {
  background-color: #ffb400;
}
.dark__item:nth-child(6) .dark__red {
  background-color: lawngreen;
}
.dark__item:nth-child(7) .dark__red {
  background-color: brown;
}
.dark__item:nth-child(8) .dark__red {
  background-color: turquoise;
}
.dark__item:nth-child(9) .dark__red {
  background-color: orangered;
}
.dark__item:nth-child(10) .dark__red {
  background-color: mediumseagreen;
}


.dark__light-box {
  display: flex;
  justify-content: center;
}
.dark__btn {
  background-color: transparent;
  border: 1px solid #ffb400;
  border-radius: 50%;
  cursor: pointer;
  color: #ffb400;
  font-size: 35px;
  padding: 5px 9px;
  margin: 10px 10px 0 10px;
}
.dark__btn:hover {
  background-color: #ffb400;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease;
}
.dark__btn:focus {
  background-color: #1b1a1a;
  transition: all 0.4s ease;
  color: #ffb400;
}
.inner-show {
  left: 0;
  opacity: 1;
  transition: all 0.4s ease;
}



.link {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  line-height: 42px;
  text-decoration: none;
  text-transform: uppercase;
}






/* about modal */

.about {
  position: absolute;
  top: 24px;
  right: 46px;
  display: none;
  padding: 48px 24px 0 24px;
  width: 427px;
  height: 317px;
  background-color: var(--item-bg);
  transition: all 0.4s ease;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: about-show ease 0.6s both;
}

.about__inner {
  position: relative;
}
.about__title-box {
  display: flex;
  justify-content: center;
}
.about__title-main {
  font-weight: 900;
  font-size: 60px;
  line-height: 110%;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 35px;
}
.about__title-main1 {
  margin-right: 10px;
}
.about__title-main2 {
  color: var(--text-yellow);
}




.about__btn {
  position: fixed;
  top: 67px;
  right: 30px;
  background-color: transparent;
  color: #ffb400;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  z-index: 800;
}
.about__remove {
  position: relative;
  padding: 10px 10px;
}
.about__remove::before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.about__remove::after {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.about__btn:hover .about__remove::after{
  transform: rotate(90deg);
}
.about__btn:hover .about__remove::before{
  transform: rotate(270deg);
}
.about__user {
    width: 25px;
    height: 25px;
    margin: 0 25px;
}
.bxs-user-detail {
  font-size: 30px;
  color: var(--text-yellow);
}
.about__line-box {
  display: flex;
  align-items: center;
  width: 55%;
  margin: 0 auto 62px auto;
}
.about__line {
  width: 230px;
  height: 1px;
  background-color: #656c6d;
  color: #656c6d;
}
.about__info {
  display: flex;
}
.bxs-user {
  font-size: 20px;
  margin-right: 5px;
  color: var(--item-color);
}

.about__title {
  font-size: 21px;
  color: var(--item-color);
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.about__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 2;
  color: var(--text-color);
  width: 660px;
  margin-bottom: 22px;
}
.about__info-box {
  display: flex;
  margin-bottom: 35px;
}
.about__list-box:nth-child(1) {
  margin-right: 100px;
}
.about__item {
  display: flex;
  align-items: center;
}
.about__item:not(:last-child) {
  margin-bottom: 20px;
}
.about__item-desc {
  font-size: 17px;
  font-weight: 600;
  color: var(--desc-color);
  line-height: 16px;
  text-transform: capitalize;
  margin-right: 5px;
}
.about__item-info {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color);
  text-transform: capitalize;
  margin-right: 3px;
}
.desc {
  font-size: 17px;
  font-weight: 600;
  color: var(--desc-color);
  line-height: 16px;
  margin-right: 5px; 
}
.gmail {
  text-transform: lowercase;
}

.bx-file {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}
.bxs-edit {
  font-size: 20px;
  color: #ffb400;
  margin-left: 10px;
}
.about__link-block {
  display: flex;
  margin-bottom: 56px;
}

.about__link-down {
  position: relative;
  margin-right: 25px;
  padding: 6px 30px;
  background-color: var(--text-yellow);
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
.about__link-blog {
  position: relative;
  margin-right: 25px;
  padding: 6px 30px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #ffb400;
  color: #ffb400;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  transition: all 0.4s ease;
}
.about__link-down::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 60px;
  background-color: #656c6d;
  z-index: -1;
  transition: all 0.4s ease;
}
.about__link-down:hover::after{
  width: 300px;
  transition: all 0.4s ease;
}
.about__link-down:hover {
  color: #ffb400;
}
.about__link-blog::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 60px;
  background-color: #ffb400;
  z-index: -1;
  transition: all 0.4s ease;
  z-index: -1;
}
.about__link-blog:hover::after {
  width: 200px; 
  transition: all 0.4s ease;
}
.about__link-blog:hover {
  color: #fff;
}
.about__link-blog:hover .bxs-edit {
  color: #fff;
}
.about__link-blog:hover .bx-file {
  color: #ffb400;
}
.about__img {
  display: none;
}





/* skill */
.skill {
  background-color: var(--item-bg);
  padding: 80px 0 20px 0;
  transition: all 0.4s ease;
  border-top: 1px solid var(--border-color);
  position: relative;
}
.skill__inner {
  display: flex;
  margin-bottom: 330px;
}
.skill__block {
  padding: 48px 24px 48px 24px;
  margin-right: 50px;
  transition: all 0.4s ease;
}
.skill__btn-item:not(:last-child) {
  margin-bottom: 20px;
}
.skill__btn {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--skill-color);
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  line-height: 110%;
  padding: 20px 30px;
  display: flex;
  text-align: center;
  transition: all 0.4s ease;
}
.skill__btn i {
  font-size: 24px;
  margin-right: 10px;
}
.skill__btn:focus {
  background-color: var(--text-yellow);
  transition: all 0.4s ease;
  color: #fff;
  border: 1px solid var(--text-yellow);
}
.skill__btn:focus i {
  color: #fff;
  transition: all 0.4s ease;
}
.skill__active-btn {
  background-color: var(--text-yellow);
  transition: all 0.4s ease;
  color: #fff;
  border: 1px solid var(--text-yellow);
}

.skill__info {
  position: relative;
}
.skill__item {
  width: 100%;
  background-color: var(--skill-item);
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}
.skill__item:nth-child(3) {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 2;
  width: 80%;
  overflow: hidden;
  text-align: center;
  height: 95%;
}
.skill__item:nth-child(2) {
  position: absolute;
  top: 28px;
  right: 26px;
  z-index: 8;
  width: 90%;
  overflow: hidden;
  text-align: center;
  height: 95%;
}
.skill__item:nth-child(1) {
  position: relative;
  top: 60px;
  right: 0;
  z-index: 15;
}
.skill__item-header {
  background-color: var(--skil-header);
  border-bottom: 1px solid var(--border-color);
  padding: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;    
  line-height: 1.5;
  color: var(--text-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.skill__item-header i {
  color: var(--text-yellow);
  font-size: 30px;
  margin-right: 5px;
  transition: all 0.4s ease;
}
.skill__item-hero {
  background-color: var(--item-bg);
  padding: 24px;
}
.web__text {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--item-color);
  margin-bottom: 10px;
}
.web__date {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 10px;
}
.web__lorem {
  font-size: 16px;
  color: var(--item-color);
  width: 100%;
  line-height: 25px;
  font-weight: 400;
}
.web__lorem::after {
  margin: 24px 0;
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: var(--text-yellow);
} 
.skill__list {
  margin: 0 auto;
}

.skill__item:nth-child(2):hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.skill__item:nth-child(3):hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.skill-show {
  width: 500px;
  height: 100%;
}
.skill__item-inner {
  display: flex;
}
.skill__item-inner ul li{
  padding: 0 0 20px 0;
}
.skill__item-inner ul:nth-child(1) {
  margin: 0 90px 0 0;
}
.skill__star-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  color: var(--desc-color);
  margin: 0 0 6px 0;
}
.skill__stars {
  display: flex;
}
.skill__stars i{
  color: var(--primary-color);
  font-size: 20px;
  margin: 0 3px;
}



/* done */

.done {
  border-top: 1px solid var(--border-color);
  background-color: var(--item-bg);
  padding: 80px 24px 80px 24px;
}
.done__list {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}
.done__item i {
  font-size: 50px;
  color: var(--done-icon);
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.done__sum {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2px;
  color: var(--text-yellow);
  margin-bottom: 20px;
  text-align: center;
}
.done__text {
  font-size: 20px;
  font-weight: 700;
  color: var(--item-color);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.about-show {
  display: block;
  right: 0;
}
@keyframes about-show {
  100% {
    width: 66%;
    height: 100%;
    transition: all 0.4s ease;
  }
}






/* get modal */

.get {
  position: absolute;
  top: 24px;
  right: 0;
  display: none;
  padding: 48px 24px;
  width: 427px;
  height: 316px;
  background-color: var(--item-bg);
  transition: all 0.4s ease;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: get-show 0.6s ease both;
}


.get__title-main2 {
  margin-bottom: 20px;
}


.bxs-envelope-open {
  font-size: 24px;
  margin-right: 5px;
  color: var(--text-yellow);
}

.get__inner {
  position: relative;
}
.get__main-box {
  display: flex;
}
.get__block {
  margin-right: 40px;
}
.get__title-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.get__title-main {
  font-weight: 900;
  font-size: 60px;
  line-height: 110%;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 35px;
}
.get__title-main1 {
  margin-right: 10px;
}
.get__title-main2 {
  color: var(--text-yellow);
}




.get__btn-remove {
  position: fixed;
  top: 67px;
  right: 30px;
  background-color: transparent;
  color: #ffb400;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
}
.get__remove {
  position: relative;
  padding: 10px 10px;
}
.get__remove::before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.get__remove::after {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.get__btn-remove:hover .get__remove::after{
  transform: rotate(90deg);
}
.get__btn-remove:hover .get__remove::before{
  transform: rotate(270deg);
}

.get__line-box {
  display: flex;
  align-items: center;
  width: 55%;
  margin: 0 auto 50px auto;
}
.get__user-box {
  background-color: transparent;
  border-radius: 5px;
  padding: 2px;
  width: 25px;
  height: 25px;
  margin: 0 25px;
}
.get__line {
width: 230px;
height: 1px;
background-color: #656c6d;
color: #656c6d;
display: block;
}


.social-box {
  background-color: var(--social-box);
  border: 1px solid var(--border-color);
  padding: 24px;
  width: 280px;
  transition: all 0.4s ease;
}
.social__item:not(:last-child){
  margin-bottom: 18px;
}
.social__phone {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-yellow);
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 18px;
}
.social__num {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2px;
  color: var(--item-color);
}
.social__num i {
  color: var(--text-color);
  font-size: 25px;
  margin-right: 10px;
}
.email {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.social__list-inner {
  display: flex;
}
.social__item-inner {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 6px 4px;
  background-color: var(--text-yellow);
}

.social__item-inner:not(:last-child) {
  margin-right: 15px;
}
.social__item-inner i{
  font-size: 25px;
  color: #fff;
}

.get__title {
  font-size: 22px;
  font-weight: 700;
  color: var(--item-color);
  line-height: 110%;
  margin-bottom: 20px;
}
.get__text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 27px;
  width: 440px;
  margin-bottom: 33px;
}













.get__form-inner {
  display: flex;
}
.get__form-inner i {
  font-size: 27px;
  color: var(--text-color);
  transition: all 0.3s ease;
  margin-right: 10px;
}

.group 			  { 
  position:relative; 
  margin-bottom: 35px; 
}
input 				{
  font-size:18px;
  padding:8px 8px 8px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid var(--border-color);
  background-color: transparent;
  color: var(--text-color);
}
input:focus 		{ outline:none; }
input:focus i {
  color: var(--text-yellow);
}
/* LABEL ======================================= */
label 				 {
  color: var(--text-color); 
  font-size: 16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  text-transform: capitalize;
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: var(--text-color);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--border-color); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}





input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}



@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}





.get__form {
  transition: all 0.3s ease;
}
.get__input::after {
  content: '';
  display: block;
  width: 400px;
  height: 1px;
  background-color: var(--border-color);
  color: var(--item-color);
  margin-left: 50px;
}



.get__btn-send {
  border: none;
  background-color: var(--text-yellow);
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
  padding: 12px 95px;
  margin-top: 27px;
}
.bxl-telegram {
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
}






/* hero go */

.go-top{
  position: fixed;
  cursor: pointer;
  right: 18px;
  font-size: 30px;
  bottom: 15px;
  background: var(--text-yellow);
  border-radius: 30px;
  z-index: 4;
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 42px;
  overflow: hidden;
  padding: 4px 5px;
  animation: go-anim 2s linear infinite;
  z-index: 2000;
}
.go-link{
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;
}
.go-top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #4ac728;
  opacity: 0;
  transition: all 2s ease;
}
.go-top:hover .go-top::before{
  background-color: #4ac728;
  opacity: 1;
  transition: all 2s ease;
}
.go-top:hover{
  background-color: #4ac728;
  transition: all 2s ease;
}
.go-top:hover .bx-up-arrow-alt:nth-child(2){
  opacity: 1;
  transform: translateY(-40px);
  transition: all 1s ease;
}
.bx-up-arrow-alt:nth-child(2){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  opacity: 0;
  margin: 0 auto;
  transition: all 1s ease;
  overflow: hidden;
}
@keyframes go-anim {
 50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}


@keyframes get-show {
  100% {
    width: 66%;
    height: 100%;
    transition: all 0.4s ease;
  }
}






/* block modal */

.portfolio {
  position: absolute;
  top: 24px;
  right: 0;
  display: none;
  padding: 48px 24px 24px 24px;
  width: 427px;
  height: 316px;
  background-color: var(--item-bg);
  transition: all 0.4s ease;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: portfolio-show ease 0.6s both;
}

.portfolio__inner {
  position: relative;
}
.portfolio__title-box {
  display: flex;
  justify-content: center;
}
.portfolio__title-main {
  font-weight: 900;
  font-size: 60px;
  line-height: 110%;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.portfolio__title-main1 {
  margin-right: 10px;
}
.portfolio__title-main2 {
  color: var(--text-yellow);
}
.portfolio__btn-remove {
  position: fixed;
  top: 67px;
  right: 30px;
  background-color: transparent;
  color: #ffb400;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  z-index: 800;
}
.portfolio__remove {
  position: relative;
  padding: 10px 10px;
}
.portfolio__remove::before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.portfolio__remove::after {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.portfolio__btn-remove:hover .portfolio__remove::after{
  transform: rotate(90deg);
}
.portfolio__btn-remove:hover .portfolio__remove::before{
  transform: rotate(270deg);
}
.portfolio__user {
  background-color: var(--text-yellow);
  border-radius: 5px;
  width: 25px;
  height: 20px;
  padding: 0 2px;
  margin: 0 auto ;
}

.portfolio__line-box {
  display: flex;
  align-items: center;
  width: 55%;
  margin: 0 auto 60px auto;
}

.portfolio__line {
  width: 230px;
  height: 1px;
  background-color: #656c6d;
  color: #656c6d;
  display: block;
}
.portfolio__user-box {
  background-color: transparent;
  border-radius: 5px;
  padding: 2px;
  width: 25px;
  height: 25px;
  margin: 0 25px;
}

.bxs-shopping-bag-alt {
  font-size: 26px;
  color: var(--text-yellow);
}
.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio__item {
  position: relative;
  margin-bottom: 24px;
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  width: 31%;
  height: 200px;
}
.portfolio__flur {  
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--text-yellow);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease;
}
.portfolio__flur2 {  
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--text-yellow);
  width: 271px;
  height: 200px;
  opacity: 0;
  transition: all 0.4s ease;
}
.portfolio__flur3 {  
  position: absolute;
  top: 0;
  right: -100%;
  background-color: var(--text-yellow);
  width: 271px;
  height: 200px;
  opacity: 0;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(1):hover .portfolio__flur {
  left: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(4):hover .portfolio__flur {
  left: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(2):hover .portfolio__flur2 {
  top: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(3):hover .portfolio__flur3 {
  right: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(5):hover .portfolio__flur2 {
  top: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(6):hover .portfolio__flur3 {
  right: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(7):hover .portfolio__flur {
  left: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(8):hover .portfolio__flur2 {
  top: 0;
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(9):hover .portfolio__flur3 {
  right: 0;
  opacity: 1;
  transition: all 0.4s ease;
}

.portfolio__text {
  position: absolute;
  top: 40%;
  left: -100%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.portfolio__text2 {
  position: absolute;
  top: -100%;
  left: 19%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.portfolio__text3 {
  position: absolute;
  top: 40%;
  right: -100%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.portfolio__img-box {
  overflow: hidden;
}
.portfolio__img {
  width: 271px;
  height: 200px;
  object-fit: cover;
}
.portfolio__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  background-color: rgb(47, 49, 49);
  padding: 8px 5px;
  display: flex;
  align-items: center;
  text-align: center;
}
.portfolio__link:nth-child(1) {
  margin-right: 10px;
}
.portfolio__link-box {
  position: absolute;
  top: 60%;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
  padding: 2px 5px;
}
.portfolio__link-box1 {
  position: absolute;
  top: 60%;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
  padding: 2px 5px;
}
.portfolio__link-box2 {
  position: absolute;
  top: -100%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
  padding: 2px 5px;
}
.portfolio__link i {
  font-size: 30px;
  color: var(--text-yellow);
}
.portfolio__item:hover .portfolio__text {
  left: 19%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(2):hover .portfolio__text2 {
  top: 40%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(3):hover .portfolio__text3 {
  top: 40%;
  right: 19%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(5):hover .portfolio__text2 {
  top: 40%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(6):hover .portfolio__text3 {
  top: 40%;
  right: 19%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(7):hover .portfolio__text {
  left: 19%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(8):hover .portfolio__text2 {
  top: 40%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}
.portfolio__item:nth-child(9):hover .portfolio__text3 {
  top: 40%;
  right: 19%;
  opacity: 1;
  transition: all 0.4s ease;
  z-index: 500;
}

.portfolio__item:nth-child(3):hover .portfolio__link-box {
  right: 30%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(1):hover .portfolio__link-box1 {
  left: 30%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(2):hover .portfolio__link-box2 {
  top: 60%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(4):hover .portfolio__link-box1 {
  left: 30%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(5):hover .portfolio__link-box2 {
  top: 60%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(6):hover .portfolio__link-box {
  right: 30%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(7):hover .portfolio__link-box1 {
  left: 30%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(8):hover .portfolio__link-box2 {
  top: 60%;
  transition: all 0.4s ease;
}
.portfolio__item:nth-child(9):hover .portfolio__link-box {
  right: 30%;
  transition: all 0.4s ease;
}

.portfolio-show {
  display: block;
  right: 0;
}


@keyframes portfolio-show {
  100% {
    width: 66%;
    height: 100%;
    transition: all 0.4s ease;
  }
}









/* portfolio block */

.portfolio__block {
  position: absolute;
  bottom: 24px;
  right: 0;
  display: none;
  padding: 150px 24px 20px 24px;
  width: 65%;
  height: 0;
  background-color: var(--item-bg);
  transition: all 0.4s ease;
  z-index: 1000;
  overflow-y: scroll;
  margin-top: 24px;
  animation: porto-show ease 0.6s both;
}
.block__inner {
  display: flex;
  margin-bottom: 50px;
}

.block__btn-remove {
  position: fixed;
  top: 40px;
  right: 30px;
  background-color: transparent;
  color: #ffb400;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  z-index: 800;
}
.block__remove {
  position: relative;
  padding: 10px 10px;
}
.block__remove::before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.block__remove::after {
  content: '';
  display: inline-block;
  height: 45px;
  width: 3px;
  background-color: var(--text-yellow);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.block__btn-remove:hover .block__remove::after{
  transform: rotate(90deg);
}
.block__btn-remove:hover .block__remove::before{
  transform: rotate(270deg);
}
.portfolio__img-inner {
  margin-right: 30px;
}

.another__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--item-color);
  line-height: 110%;
  margin-bottom: 30px;
}
.another__item {
  display: flex;
  margin-bottom: 17px;
}
.another__item i {
  font-size: 19px;
  color: var(--item-color);
  margin-right: 12px;
}
.another__text {
  font-size: 16px;
  font-weight: 600;
  color: var(--item-color);
  margin-right: 4px;
}
.another__text2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--item-color);
}
.another__text-box {
  display: flex;
}

.another__link-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--done-icon);
}
.another__link {
  margin-top: 20px;
  font-size: 16px;
  padding: 4px 45px;
  background-color: var(--text-yellow);
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.another__link i {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
}
.another__block-box {
  display: flex;
  justify-content: center;
}
.another__btn {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.another__btn i {
  color: #656c6d;
  font-size: 70px;
  font-weight: normal;
  transition: all 0.4s ease;
}

.another__btn:nth-child(1):hover i{
  transform: rotate(180deg);
  transition: all 0.4s ease;
  color: var(--text-yellow);
}
.another__btn:nth-child(2):hover i{
  transform: rotate(-180deg);
  transition: all 0.4s ease;
  color: var(--text-yellow);
}
.porto-show {
  display: block;
  bottom: 0;
}
@keyframes porto-show {
  100% {
    height: 90%;
  }
}






/* ============ responsive ===========*/
@media screen and (max-width:1400px){
  .get__text {
    width: 90%;
  }
}
@media screen and (max-width:1350px){
}

@media screen and (max-width:1150px){
}
@media screen and (max-width:1060px){
.about {
  top: 24px;
  right: 46px;
  padding: 48px 24px 0 24px;
  width: 427px;
  height: 317px;
}
.about__main {
  display: flex;
}
.about__succes {
  padding: 0 24px;
}
.about__title {
  font-size: 18px;
}
.about__text {
  font-size: 15px;
  width: 100%;
}
.about__info-box {
  flex-direction: column;
  margin-bottom: 15px;
}
.about__list-box:nth-child(1) {
  margin-right: 13px;
}
.about__item {
  margin-bottom: 13px;
}
.about__item-desc {
  font-size: 15px;
}
.about__item-info {
  font-size: 15px;
}
.desc {
  font-size: 15px;
}
.about__link-block {
  display: flex;
  margin-bottom: 56px;
}
.about__link-down {
  margin-right: 25px;
  padding: 6px 25px;
}
.about__link-blog {
  margin-right: 25px;
  padding: 6px 25px;
}
.skill {
  padding: 30px 0;
}
.skill__block {
  width: 100%;
  padding: 48px 0 48px 0;
  margin-right: 0;
}
.skill__btn {
  font-size: 20px;
  width: 90%;
  padding: 20px 24px;
}
.skill__btn i {
  font-size: 20px;
  margin-right: 10px;
}
.skill__info {
  width: 100%;
}
.done {
  padding: 60px 24px 60px 24px;
}
.done__item i {
  font-size: 40px;
}
.done__sum {
  font-size: 40px;
}
} 

/*=========== responsive ============*/

 @media screen and (max-width:992px) {
  body {
    overflow-y: scroll;
  }
  .hero {
    position: relative;
    transition: all 0.4s ease;
  }
  .hero__inner {
    flex-direction: column-reverse;
    padding: 0 12px;
    height: 100vh;
  }
  .hero__nav-bar {
    width: 100%;
    height: 100%;
  }
  .hero__img-box {
    display: none;
  }
  .hero__dark-box {
    z-index: 2000;
  }
  .go-top{
    right: 23px;
  }
.about__btn {
  top: 67px;
  right: 55px;
  background-color: transparent;
  width: 50px;
  height: 50px;
}
.about__remove::before {
  height: 40px;
  width: 3px;
}
.about__remove::after {
  height: 40px;
  width: 3px;
}
.about__img {
  display: block;
  width: 284px;
  height: 492px;
}
.about__info {
  display: flex;
}
.skill__item {
  width: 100%;
}
.skill__item-header {
  font-size: 21px;    
}
.skill__item-header i {
  font-size: 23px;
}
.web__text {
  font-size: 15px;
}
.web__date {
  font-size: 13px;
}
.web__lorem {
  font-size: 15px;
}
.skill-show {
  width: 500px;
  height: 100%;
}
.about-show {
  display: block;
  right: 24px;
}
.portfolio-show {
  display: block;
  right: 24px;
}
.get-show {
  display: block;
  right: 24px;
}
.get__text {
  width: 100%;
}
@keyframes about-show {
  100% {
    width: 95%;
    height: 100%;
  }
}
@keyframes portfolio-show {
  100% {
    width: 95%;
    height: 100%;
  }
}
@keyframes get-show {
  100% {
    width: 95%;
    height: 100%;
  }
}
} 
/*================ responsive=============== */
@media screen and (max-width: 910px) {
  .about__link-block {
    display: flex;
    margin-bottom: 56px;
  }
  .about__link-down {
    padding: 6px 20px;
  }
  .about__link-blog {
    font-size: 16px;
    padding: 6px 20px;
    margin-right: 0;
  }
  .get__text {
    width: 100%;
  }
}

/*================ responsive=============== */

 @media screen and (max-width:882px) {

  .about__list-box:nth-child(1) {
    margin-right: 13px;
    margin-bottom: 8px;
  }
  .about__item {
    margin-bottom: 8px;
  }
  .about__link-down {
    padding: 6px 15px;
    font-size: 15px;
  }
  .about__link-down::after {
    height: 0;
  }
  .about__link-blog {
    padding: 6px 15px;
  }
  .about__link-blog::after {
    height: 0;
  }
  .skill__block {
    padding: 20px 0 0 0;
  }
 }   
/*============== responsive ===========*/

@media screen and (max-width:768px) {
.hero__list {
  width: 100%;
  height: 100%;
}
  .hero__item {
    width: 100%;
    height: 25%;
    margin: 0 0 20px 0;
    transition: all 0.4s ease;
    background-color:var(--item-bg) ;
  }
  .about__img {
    width: 213px;
    height: 370px;
  }
.about__link-block {
  flex-direction: column;
}
.about__link-down {
  width: 100%;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}
.about__link-blog {
  width: 100%;
  display: flex;
  border-radius: 0px;
  justify-content: center;
}
.skill__inner {
  flex-direction: column;
}
.skill__btn-list {
  display: none;
}
.skill__item:nth-child(3) {
  position: relative;
  top: 0;
  right:0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.skill__item:nth-child(2) {
  position: relative;
  top: 0;
  right:0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.skill__item:nth-child(1) {
  position: relative;
  top: 0;
  right:0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.web__lorem {
  text-align: left;
}
.web__text {
  text-align: left;
}
.web__date {
  text-align: left;
}
.about__title-main  {
  font-size: 30px;
}
.about__title-main2  {
  font-size: 30px;
}
.about__remove::after {
  height: 35px;
  width: 3px;
}
.about__remove::before {
  height: 35px;
  width: 3px;
}
.skill__block {
  padding: 20px 0 0 0;
}
.about__remove {
  position: relative;
  padding: 0 10px;
}
.get__main-box {
  flex-direction: column;
  justify-content: center !important;
}
.get__block {
  width: 100%;
  justify-content: center;
  margin: 0 0 30px 0;
}
.social-box {
  width: 100%;
}
.social {
  width: 100%;
  justify-content: center;
  margin: 0 0 30px 0;
}
.free {
  width: 100%;
  justify-content: center;
}
.get__remove {
  padding: 0;
}
.get__remove::after {
  height: 30px;
  width: 3px;
  
}
.get__remove::before {
  height: 30px;
  width: 3px;
}
.get__line-box {
  margin: 0 auto 30px auto;
}
}

@media screen and (max-width: 650px) {
  .about__main {
    flex-direction: column;
  }
  .about__img {
    width: 100%;
    height:100%;
    margin: 0 0 20px 0;
  }
  .skill {
    padding: 40px 0 0 0;
  }
  .done__list {
    flex-direction: column;
    justify-content: center;
  }
  .done__item {
    margin: 0 0 20px 0;
  }
  .skill__block {
    padding: 0;
  }
  .about__remove {
    position: relative;
    padding: 0 10px;
  }
}

 @media screen and (max-width:540px) {
  .hero__item {
    width: 100%;
    height: 23%;
    margin: 0 !important;
  }
  .hero__hello {
    font-size: 20px;
    font-weight: 400;
  }
  .hero__name {
    font-size: 30px;
  }
  .heroanimate {
    font-size: 28px;
    font-weight: 900;
    line-height: 90%;
  }
  .hero__desc {
    font-size: 30px;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 2px;
    line-height: transprent;
  }
  .hero__text-me {
    font-size: 30px;
  }
  .hero__text-yellow {
    font-size: 30px;
    transform: translateY(-33.5px);
  }
  .hero__desc-yellow{
    font-size: 30px;
  }
  .hero__desc--white {
    height: 30px;
  } 
  .about__title-main {
    margin: 0 0 20px 0;
  }
  .about__title-main2 {
    margin: 0 0 20px 0;
  }
  .about__line-box {
    margin: 0 auto 30px auto;
  }
  .skill {
    padding: 30px 0 0 0;
  }
  .skill__block {
    padding: 0;
  }
  .done {
    padding: 30px 24px;
  }
  .about__remove::after {
    height: 35px;
    width: 3px;
  }
  .about__remove::before {
    height: 35px;
    width: 3px;
  }
  .about__remove {
    position: relative;
    padding: 0 10px;
  }
  .about__text {
    margin: 0 0 14px 0;
  }
  .about__item {
    margin: 0 0 8px 0;
  }
  .skill__item-inner {
    justify-content: space-between;
  }
  .skill__item-inner ul:nth-child(1) {
    margin: 0;
  }
  .skill__stars i {
    margin: 0 2px 0;
  }
  .get__btn-send {
    padding: 12px 45px;
    width: 100%;
  }
}  
@media screen and (max-width: 400px) {
  
  .about__item-info {
    font-size: 15px;
  }
  .about__item-desc {
    font-size: 15px;
    margin: 0 2px 0 0;
  }
}